<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BVC Sport</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
      body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Remove default margin */
}

#container {
    background-color: aliceblue;
    width: 60vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Add padding for better spacing */
}

h1 {
    font-size: 5vw;
    text-align: center;
    margin-bottom: 20px; /* Add margin to separate from form */
}

p {
    width: 100%; /* Make input fields take up full width */
    padding: 8px; /* Add padding for better spacing */
    margin-bottom: 15px; /* Add margin below input fields */
    border-radius: 5px; /* Add border radius for a softer look */
    border: 1px solid #ccc; /* Add border for clarity */
    box-sizing: border-box; /* Ensure padding and border are included in width */
}


    </style>
  </head>
<body>