
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/headindex.ejs') %>
<body>
    <div id="container">
        <h1>Registration ome piroba</h1>
        <form id="formRegister" action="/register" method="post" target="_blank"> <!-- Aquí está el cambio -->
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" required><br><br>
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" name="fullName" required><br><br>
            <label for="address">Address:</label>
            <textarea id="address" name="address" required></textarea><br><br>
            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="student">Student</option>
                <option value="staff">Staff</option>
                <option value="volunteer">Volunteer</option>
            </select><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
